/* Bootstrap: Header moves when modal opens, fix */
body {overflow: auto!important; padding-right: 0px!important;}
body a {text-decoration: none;}
.gold {color: #FAB600;}
.chery {color: #C6143E;}
.header-background-v1 {
    background-image: url("img/Header.png");
    height: 900px;
    background-repeat:no-repeat;
    background-position:center;
}
.header-background-v2 {position: relative; background: #131e2a; min-height: 500px;}
.header-background-v3 {position: relative; background: #131e2a; bottom: -1px;}
.shadow-v1 {box-shadow: 14px 20px 100px rgba(49, 89, 211, 0.13);}
.top-v1 {padding-top: 230px; padding-bottom: 130px;}
.top-v2 {padding-top: 230px;}
.z-index-3 {z-index: 3;}
.max-width-v1 {max-width: 1172px; margin: 0 auto;}
.top-menu li {padding: 0 18px;}
.top-menu li a:hover, .dropdown-list li a:hover, .cart-items a:hover {color: #FAB600;}
.top-menu li a, .dropdown-list li a, .dropdown-list .dropdown div.title {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
.dropdown-list .dropdown div.title {cursor: pointer;}
.dropdown-list .dropdown div.title:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: block;
    content: "\f107";
    position: absolute;
    right: -20px;
    top: 0px;
}
.dropdown-list .dropdown.closed ul {margin-top: 0px;}
.dropdown-list .dropdown ul {padding-left: 0px; overflow: hidden; position: absolute; width: max-content;}
.dropdown-list .dropdown.closed ul li {height: 0px;}
.dropdown-list .dropdown ul li.selected { display: none;}
.dropdown-list .dropdown a {
    color: #9D9FA0;
    width: auto;
    display: block;
    padding: 4px 0px;
    text-transform: initial;
}

.function-elements .dropdown-list { width: 44px;}
.function-elements .dropdown-list .dropdown div.title:after { right: 0;}
.function-elements img { width: 58px; cursor: pointer;}
.function-elements a img { width: 24px;}
.function-elements > div { display: inline-block; margin-left: 10px;}
.efv-btn {text-decoration: none; color: white; text-transform: uppercase; border-radius: 25px; display: inline-block;}
.efv-btn:hover {color: white;}
.btn-v7 {background: #C6143E; padding: 15px 30px; color: white; font-size: 20px; border: none; border-radius: 10px; box-shadow: 0px 24px 49px rgba(198, 20, 62, 0.25);}
.btn-v6 {background: white; padding: 15px 30px; color: #1D2633; font-size: 20px; border: 1px solid #FAB600; border-radius: 10px;}
.btn-v6:hover {color: #FAB600;}
.btn-v1 { background: #C6143E; padding: 15px 30px;}
.btn-v4 { background: #1D2734; padding: 15px 40px; border-radius: 10px;}
.btn-v4:hover, .btn-v9:hover { background: #C6143E;}
.btn-v5 {background: #1D2734; padding: 15px 40px; border-radius: 10px; border: none; box-shadow: 0px 24px 49px rgba(6, 26, 49, 0.14);}
.btn-v5:hover, .btn-v8:hover { background: #FAB600;}
.btn-v3 { background: #FAB600; padding: 15px 30px; border: none;}
.btn-v2 { background: #1619205E; padding: 15px 40px; border: 2px solid #C6143E;}
.btn-v8 {background: #C6143E; padding: 10px; border-radius: 10px; border: none; width: 100%; text-transform: capitalize;}
.btn-v9 {background: #FAB600; padding: 10px; border-radius: 5px; border: none; width: 100%; text-transform: capitalize;}

.banner {color: white; margin-top: 140px;}
.banner .title {font-size: 50px; line-height: 57px; font-weight: 600; margin-bottom: 25px;}
.banner .text {font-size: 25px; line-height: 32px; font-weight: 400;}
.mob-menu-icon {font-size: 30px; color: white; cursor: pointer; display: block;}

.background-v1 {background: linear-gradient(0deg, #EFF0FB 0%, #FFFFFF 74.16%);}
.background-v2 {background: #FBFDFF;}
.block-wrapper-v1 {background: #FFF2CF; padding: 25px; width: 85px; box-shadow: -7.13415px 14.2683px 28.5366px rgba(255, 222, 170, 0.301961);}
.block-wrapper-v1 i {font-size: 32px;}

.pagination .page-item {margin: 0 4px;}
.pagination .page-link {border-radius: 5px; color: black;}
.pagination .page-link:hover {background: #FAB600;}
.pagination .page-link.active {background: #FAB600; border-color: #dee2e6;}

.products .card {border: none; box-shadow: 0px 54px 55px rgba(74, 83, 188, 0.08);}
.products .card-text p {color: #455777; font-size: 18px;}
.products .img-wrapper {height: 290px; border: none;}
.card-price {color: #C6143E; font-size: 25px; font-weight: 600;}

.product-carousel .wrapper {
    background: rgba(255,255,255,0.5400000214576721);
    width: fit-content;
    padding: 15px 50px;
    margin: 0 auto;
    border-radius: 90px;
    box-shadow: 0px 54px 55px rgb(0 0 1 / 4%);
}
.product-carousel .nav-pills {
    --bs-nav-pills-border-radius: 90px;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #C6143E;
}
.product-carousel .nav-link {
    color: black; font-size: 20px;
    border-radius: 90px;
    color: #000;
    background: #fff;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 8%);
}
.product-carousel .carousel__button.is-next {display: none;}
.product-carousel .carousel__button.is-prev {display: none;}
.product-carousel .nav-item {padding: 10px;}
.product-carousel .card {border: none; padding: 10px;}
.product-carousel .card-title {font-size: 25px;}
.product-carousel .card-text {font-size: 17px; color: #455777;}
.recommended .carousel__slide {width: 25%; padding: 10px;}
.our-team .carousel .carousel__slide {width: 25%; padding: 10px;}
.img-wrapper {
    height: 226px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
}
.img-wrapper img {max-height:100%; max-width:100%;}
.background-v3 {
    background: url('img/background-3.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 1500px;
}
.contact-form-background {
    background: url('img/contact-form.png');
    background-repeat:no-repeat;
    background-position:center;
    height: 872px;
    width: 100%;
    top: -250px;
}
.pb-v1 {padding-bottom: 380px;}
.pb-v2 {padding-bottom: 560px;}
.pb-v3 {padding-bottom: 470px;}
.pb-v4 {padding-bottom: 100px;}
.pt-v1 {padding-top: 130px}
.mt-v1 {margin-top: 150px}
.mt-v2 {margin-top: 120px}
.mt-v3 {margin-top: 100px}
.footer-background {position: absolute; bottom: -1px;}
.gray-v1 {color: #5F6E81;}
.gray-v2 {color: #3F3F3F;}
footer {background: #131e2a; color: white;}
footer ul {list-style-type: none; padding-left: 0;}
footer ul li {padding-bottom: 10px;}
footer .icon-background, .our-team .icon-background {color: #344559;}
footer .icon-size {font-size: 22px;}
footer a {text-decoration: none; color: white;}
footer a:hover, .social a:hover {color: #F47820;}
footer .subscribe {background: #1a1b1e; padding: 20px; border-radius: 10px;}
footer .copyright {font-size: 12px; text-align: center; color: gray; padding: 10px;}
footer .btn-outline-secondary, #btnSearch {background: #C6143E; color: white; border: none;}
.social a {color: white; background: black; padding: 10px; display: block; width: 45px;}
.list-inline li {display: inline-block;}
hr.orange {border: 1px solid #F47820; width: 25%; opacity: 1;}
.main p {font-size: 20px;}
.contact-form-background > div {margin: 0 auto; color: white; padding: 20px; max-width: 950px;}
.contact-form-background .title {font-size: 40px;}
.contact-form-background .form-control {padding: 10px; border-radius: 20px; border-left: none; margin-left: -2px!important;}
.contact-form-background .input-group-text {background-color: white; border-radius: 20px; padding-left: 20px; color: #C6143E;}
.btn-close-v1 {color: #C6143E; font-size: 26px; cursor: pointer;}
.catalog-bg {
    background-image:url('img/catalog-bg.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}
.modal .card {box-shadow: 0px 41.3164px 42.0815px rgba(74, 83, 188, 0.08); border: none;}
.modal .card .img-wrapper {height: 280px;}
.modal .card a.efv-btn {box-shadow: 0px 24px 49px rgba(6, 26, 49, 0.14);}
.breadcrumb-item.active {color: white;}
.breadcrumb a {color: #E2204E;}

.products .block h2 {color: white;}
.products .block h2 span, .about-us .block span {color: #FAB600;}

.block-height-v1 {height: 400px;}
.block-height-v2 {height: 170px;}
.block-height-v3 {height: 620px;}

.product .block, .about-us .block, .our-team .block, .faqs .block {background: white; box-shadow: 0px 88.8367px 90.4818px rgba(74, 83, 188, 0.08), inset 0px -4px 0px #C6143E; border-radius: 25px;}
.product .block-v2, .about-us .block-v2, .faqs .block-v2 {background: white; box-shadow: 0px 88.8367px 90.4818px rgba(74, 83, 188, 0.08); border-radius: 25px;}
.about-us .block-v3, .our-team .block-v3, .faqs .block-v3 {background: white; box-shadow: 0px 15px 120px rgba(74, 83, 188, 0.08); border-radius: 25px;}
.cart .block-v4 {background: white; box-shadow: 0px 15px 120px rgba(74, 83, 188, 0.08); border-radius: 15px;}
.about-us .card {border: none; box-shadow: 0px 15px 120px rgb(74 83 188 / 8%);}
.about-us .card-title {text-transform: capitalize; line-height: 34px;}
.about-us .card-text {font-size: 18px; line-height: 34px; text-align: center;}
.product #product-carousel img {width: 100%;}
.product #product-carousel .carousel__slide {width: 100%;padding: 0;}
.product #product-thumb-carousel .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.product #product-thumb-carousel .carousel__slide.is-nav-selected {opacity: 1;}
.product #product-carousel img,
.product #product-thumb-carousel .carousel__slide img {border: 1px solid #e6e6e6; border-radius: 25px;}
.product #product-thumb-carousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    margin: 10px 10px 10px 0;
    width: 20%;
}

.product .info .nav-tabs .nav-item.show, .nav-tabs .nav-link.active {color: #fff; background-color: #1C2533!important;}
.product .info .nav-tabs .nav-item, .nav-tabs .nav-link {
    color: black;
    background-color: #DEE3F3;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 18px 50px;
}
.product .nav-tabs {border: none;}
.product .tab-content {line-height: 35px;}

.product .star-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1rem;
    color: #909090;
    margin-right: 0;
    margin-bottom: 10px;
}
.product .star-content .star {
    display: block;
    float: left;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.product .star-content .star:after {
    color: #dbdbdb;
    content: "\f006";
    font-family: "FontAwesome";
    display: inline-block;
    left: 0;
    font-size: 16px;
}
.product .dashed {border-top: dashed 2px;}
.product .detail {color: #505864;}
.product .price {color: #C7133E; font-size: 45px; font-weight: 500;}
.product .sin-iva {font-size: 25px; font-weight: 500;}
.pink {color: #C6143E;}
a.pink:hover {color: #FAB600;}

.faqs .accordion-item {border: none; border-left: 2px solid  #FAB600; margin: 20px 0px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.faqs .accordion-body {padding: 20px; background-color: white; font-size: 14px;}
.faqs .accordion-button:focus {box-shadow: none; border-color: rgba(0,0,0,.125); outline: none;}
.faqs .accordion-button:not(.collapsed) {color: black; box-shadow: none; background-color: white; color: #C6143E;}
.faqs .accordion-button {background-color: white; font-weight: 500;}
.faqs .mt-v1, .our-team .mt-v1 {margin-top: 100px;}

/* Custom icons */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?p01wuq');
    src:  url('fonts/icomoon.eot?p01wuq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p01wuq') format('truetype'),
    url('fonts/icomoon.woff?p01wuq') format('woff'),
    url('fonts/icomoon.svg?p01wuq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-phone-call-efv:before {content: "\e900";}
.icon-shopping-cart-efv:before {content: "\e912";}
.icon-marks-efv:before {content: "\e901"; color: #8c92ab;}

.icon-warranty-efv, .icon-instructions-efv, .icon-quality-efv {font-size: 30px;}

.icon-warranty-efv .path1:before {content: "\e906";}
.icon-warranty-efv .path2:before {content: "\e907"; margin-left: -1em; color: rgb(198, 22, 64);}
.icon-warranty-efv .path3:before {content: "\e908"; margin-left: -1em;}
.icon-warranty-efv .path4:before {content: "\e909"; margin-left: -1em;}

.icon-instructions-efv .path1:before {content: "\e903"; color: rgb(39, 49, 65);}
.icon-instructions-efv .path2:before {content: "\e904"; margin-left: -1em; color: rgb(198, 20, 62);}
.icon-instructions-efv .path3:before {content: "\e905"; margin-left: -1em; color: rgb(198, 20, 62);}

.icon-quality-efv .path1:before {content: "\e90a"; color: rgb(38, 49, 64);}
.icon-quality-efv .path2:before {content: "\e90b"; margin-left: -1em; color: rgb(38, 49, 64);}
.icon-quality-efv .path3:before {content: "\e90c"; margin-left: -1em;color: rgb(198, 20, 62);}

.icon-arrow-efv:before {content: "\e910"; color: #fff;}

.mobile-menu-style .single {padding: 12px 20px; text-decoration: none; color: black; display: block;}
.mobile-menu-style .accordion-item {border: none;}
.mobile-menu-style .accordion-body {padding: 0;}
.mobile-menu-style ul {list-style-type: none;}
.mobile-menu-style ul li {padding: 12px 0;}
.mobile-menu-style ul li a {text-decoration: none; color: black;}
.mobile-menu-style .accordion-button:not(.collapsed) {background-color: white; box-shadow: none;}

/* Remove focus */
.accordion-button:focus {outline: none; box-shadow: none;}

.blog .pb-v3 {padding-bottom: 440px;}
.blog .tag {color: #C6143E;}
.blog .date {color: #938E8F; text-transform: uppercase;}
.blog .card-text {color: #938E8F;}
.blog .img-wrapper {border: none;}
.blog .card {box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

.contacts .form-control,
.contacts .form-select {border: none; padding: 12px 18px; border-radius: 30px; border: 1px solid rgba(80, 80, 80, 0.06);}
.contacts .form-check-input {width: 20px; height: 20px;}

.cart .payment label {font-weight: 500;}
.cart .payment-item {background: #F9F9FB; border-radius: 15px; padding: 10px 20px; margin-bottom: 10px; border-left: 2px solid #FAB600;}
.cart-items a {color: black; font-weight: 500;}
.cart-items {list-style: none; padding: 0; margin-bottom: 30px;}
.cart-items .cart-item {
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.82);
    box-shadow: 14px 20px 100px rgba(49, 89, 211, 0.09);
    border-radius: 10px;
}
.align-items-center {align-items: center!important;}
.product-amount {flex-shrink: 0; display: inline-flex; vertical-align: top; margin-right: 15px;}
.product-amount-decrease, .product-amount-increase {border: 1px solid #ebebeb; text-align: center; background: white; padding: 8px;}
.product-amount-number {
    max-width: 40px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: transparent;
    border-right: transparent;
    text-align: center;
}
.product-amount-increase {border-radius: 0 4px 4px 0;}
.product-amount-decrease {border-radius: 4px 0 0 4px;}
.cart-del {cursor: pointer;}

.hr-gray {color: #979797;}

@media (max-width: 1400px) {
    header {height: 224px;}
    .banner {margin-top: 80px;}
    .btn-v1 {padding: 15px 14px;}
    .top-v1 {padding: 0;}
    .top-v2 {padding-top: 20px;}
    .blog .contact-form-background {top: -190px;}
}
@media (max-width: 1200px) {
    header {height: 284px;}
    .banner .title {font-size: 30px; line-height: 40px;}
    .function-elements a img { width: 58px;}
    .background-v3 {height: 1300px;}
    .about-us .mt-v1 {margin-top: 30px;}
    .blog .contact-form-background {top: -140px;}
    .blog .pb-v3 {padding-bottom: 570px;}

}
@media (max-width: 992px) {
    .function-elements img {width: 40px;}
    .function-elements a img { width: 40px!important;}
    .recommended .carousel__slide {width: 50%;}
    .our-team .carousel .carousel__slide {width: 100%;}
    .product-carousel .card-title {font-size: 14px;}
    .product-carousel .img-wrapper {height: 180px;}
    .background-v3 {height: 1150px;}
    .about-us .mt-v1 {margin-top: 140px;}
    .blog .contact-form-background {top: -100px;}
    .blog .pb-v3 {padding-bottom: 650px;}
}
@media (max-width: 768px) {
    .background-v3 {height: 1500px;}
    .about-us .mt-v1 {margin-top: 0px;}
}
@media (max-width: 576px) {
    header {height: 220px!important;}
    .mob-opacity {opacity: 0.7}
    .dropdown-list .dropdown a {color: #FAB600;}
    .pt-v1 {padding-top: 50px;}
    .mt-v1 {margin-top: 50px;}
    .faqs .mt-v1 {margin-top: 130px;}
    .our-team .mt-v1 {margin-top: 200px;}
    .mt-v2 {margin-top: 60px}
    .pb-v1 {padding-bottom: 290px;}
    .pb-v2 {padding-bottom: 400px;}
    .top-v1 {padding: 0;}
    .contact-form-background .title {font-size: 25px;}
    .contact-form-background {height: 660px;}
    .background-v3 {height: 1200px;}
    .block-height-v1 {height: 56px;}
    .about-us .mt-v1 {margin-top: 150px;}
    .blog .contact-form-background {top: -70px;}
    .blog .pb-v3 {padding-bottom: 570px;}
    .blog .pb-v4 {padding-bottom: 40px;}
    .cart .pb-v4, .contacts .pb-v4 {padding-bottom: 30px;}
    .contacts .mt-v3 {margin-top: 40px;}
}
